/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
}

.sidebar {
  height: 100vh;
  grid-row: 1/-1;
  background-color: #0284c7;
}

.brand {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.brand span {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-right: 0.5rem;
}

.brand h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.nav li a:link,
.nav li a:visited {
  padding: 15px 20px;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  column-gap: 10px;
}

.spacer {
    margin-top: 4rem;
}

.nav li a span {
    font-size: 20px;
}

.main {
  grid-column: 2/-1;
}
